/* plugin_listandedit */
/*@import "../../../plugin_framework/static/plugin_framework/css/framework.less";*/
#listpane {
  height: 600px;
  overflow: auto;
  position: relative;
  padding-right: 0;
}
#listpane .list-group-item {
  padding: 0;
}
#page .list_control {
  padding: 0;
}
#page .list_control h2 {
  margin-right: 21px;
  margin-left: 21px;
  margin-top: 0;
  display: inline-block;
}
#page .list_control a {
  float: right;
  display: block;
  text-decoration: none;
  padding: 0;
  margin-right: 0;
}
#viewpane {
  overflow: auto;
  height: 600px;
  position: relative;
}
#viewpane form {
  margin: 0;
  padding: 0;
  /*div.w2p_fw                 {display:block;}*/

  /*textarea                   {width: 90%;}*/

}
#viewpane .plugin_listandedit_duplicate {
  position: absolute;
  display: block;
  right: 10.5px;
  top: 0;
}
/**base theme - depends on mixins and vars from plugin_framework**/
/*#listpane                          {*/
/*ul                             {padding-left:0;*/
/*li                         {background-color: @col1;*/
/*[>background-image:-moz-linear-gradient(#f5f5f5, #eee);<]*/
/*[>background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));<]*/
/*[>background-image:-o-linear-gradient(#f5f5f5, #eee);<]*/
/*[>background-image:-ms-linear-gradient(#f5f5f5, #eee);<]*/
/*border-bottom: 1px solid @col2;*/
/*border-top:1px solid @col0;*/
/*a,*/
/*a:link,*/
/*a:visited              {color:@col4;}*/
/*&:hover                    {background-color:@col0;*/
/*background-image:none;*/
/*a                      {color:darken(@col4, 10%);}*/
/*}*/
/*}*/
/*}*/
/*}*/
#viewpane label {
  color: #cccccc;
}
#viewpane .plugin_listandedit_duplicate {
  background-color: #0000ff;
  color: #f5f5f5;
  padding: 0.25em 1em;
  font-size: 12px;
}
#viewpane .plugin_listandedit_duplicate:hover {
  background-color: #0000cc;
  transition: 200ms all linear;
}
#page .list_control {
  padding: 0;
  background: #0000ff;
  color: #f5f5f5;
  border-right: 1px solid #0000ff;
  border-left: 1px solid #0000ff;
  height: 31.5px;
}
#page .list_control h2 {
  color: #f5f5f5;
  line-height: 31.5px;
  height: 31.5px;
}
#page .list_control h2 .restrictor {
  font-size: 16px;
  line-height: 31.5px;
  height: 31.5px;
}
#page .list_control h2 .list_count {
  color: #f5f5f5;
}
#page .list_control a {
  float: right;
  color: #f5f5f5;
  text-align: center;
  line-height: 31.5px;
  height: 31.5px;
  width: 31.5px;
  font-size: 18px;
  text-decoration: none;
}
#page .list_control a:hover {
  color: #f5f5f5;
}
